[Desktop Entry]
Name=MCPI++
Comment=Community mod of MCPI-Reborn
Icon=com.thebrokenrail.MCPIReborn
StartupNotify=true
StartupWMClass=Minecraft: Pi Edition: Reborn
Exec=minecraft-pi-reborn-client
Terminal=false
Type=Application
Categories=Application;Game;
