[Desktop Entry]
Name=MCPI-Reborn Extended
Comment=Community mod of MCPI-Reborn
Icon=com.thebrokenrail.MCPIRebornClient
StartupNotify=true
StartupWMClass=Minecraft: Pi Edition: Reborn
Exec=minecraft-pi-reborn-client
Terminal=false
Type=Application
Categories=Game;
